body{
  margin: 0;
  padding: 0;
  font-family: Verdana;
  font-size: 12px;
}

.container {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-size: cover;
  -webkit-filter: blur(2px);
  z-index: 0;
  background-image: url(../images/dailyreport-background.jpg);
}

.header{
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 255px);
  z-index: 2;
}

.header div{
  float: left;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 35px;
  font-weight: 200;
}

.header div span{
  color: #5379fa !important;
}

.record title {
	color: #fff;
	font-size: 3.5rem; 
	line-height: 1.25; 
	letter-spacing: 3rem; 
}