html{
    /*background-color: #f3f3f3;*/
}

.form-basic{
    max-width: 640px;
    margin: 0 auto;
    padding: 55px;
    box-sizing: border-box;

    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    font: bold 14px sans-serif;
    text-align: center;
}

.form-basic .form-row{
    text-align: left;
    margin-bottom: 22px;
}

.form-basic .form-title-row{
    text-align: center;
    margin-bottom: 55px;
}

/* The form title */

.form-basic h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 0 10px 15px;
    border-bottom: 2px solid #6caee0;
    margin: 0;
}

.form-basic .form-row > label span{
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    width: 180px;
    text-align: right;
    vertical-align: top;
    padding: 12px 25px;
}

.form-basic input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px;
    border: 1px solid #dbdbdb;
}

.form-basic input[type=radio],
.form-basic input[type=checkbox]{
    box-shadow: none;
    width: auto;
}

.form-basic input[type=checkbox]{
    margin-top: 13px;
}

.form-basic select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
    max-width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 8px;
    border: 1px solid #dbdbdb;
}

.form-basic textarea{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    height: 80px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    font: normal 13px sans-serif;
    padding: 12px;
    border: 1px solid #dbdbdb;
    resize: vertical;
}

.form-basic .form-radio-buttons{
    display: inline-block;
    vertical-align: top;
}

.form-basic .form-radio-buttons > div{
    margin-top: 10px;
}

.form-basic .form-radio-buttons label span{
    margin-left: 8px;
    color: #5f5f5f;
    font-weight: normal;
}

.form-basic .form-radio-buttons input{
    width: auto;
}

.form-basic button#addBorrowerBtn,
.form-basic input#downloadManualBtn,
.form-basic input#deleteApparatusBtn,
.form-basic input#addApparatusBtn{
    display: block !important;
    border-radius: 2px !important;
    background-color:  #6caee0 !important;
    color: #ffffff !important;
    font-weight: bold !important;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08) !important;
    padding: 14px 22px !important;
    border: 0 !important;
    margin: auto !important;
}

/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

@media (max-width: 600px) {

    .form-basic{
        padding: 30px;
        max-width: 480px;
    }

    .form-basic .form-row{
        max-width: 300px;
        margin: 25px auto;
        text-align: left;
    }

    .form-basic .form-title-row{
        margin-bottom: 50px;
    }

    .form-basic .form-row > label span{
        display: block;
        text-align: left;
        padding: 0 0 15px;
    }

    .form-basic select{
        width: 240px;
    }

    .form-basic input[type=checkbox]{
        margin-top:0;
    }

    .form-basic .form-radio-buttons > div{
        margin: 0 0 10px;
    }

    .form-basic button{
        margin: 0;
    }

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /*width: 40%;
    height: 10vh;*/
    background-color: white;
    
}
.row .card{
  margin-bottom: 75px;
}
.entry{
  overflow-y: auto;
  max-height: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.entry {
        /*margin-bottom: 25px;
        width: 85%;*/
        padding: 10px;
        border-bottom: 100px;
    }
    .row {
      display: flex; /* equal height of the children */
    }

    .columns {
      flex: 1; /* additionally, equal width */
    }
    #returned {
    width: 350px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    }

.field{
  background-color: rgba(211,211,211,0.8);
  width: 100%;
  overflow-y: auto;
  height: 55vh;
}

.searchInput {
  /*background-image: url('/css/searchicon.png');*/
  /*background-position: 10px 10px;*/
  /*background-repeat: no-repeat;*/
  width: 100%;
  /*font-size: 16px;*/
  /*padding: 12px 20px 12px 40px;*/
  /*border: 1px solid #ddd;*/
  margin-top: 14px;
}

