#update{
  display: none;
}

#apparatusTable {
	background-color: rgba(211,211,211,0.9);
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 13px; /* Increase font-size */
    
}

#apparatusTable th, #apparatusTable td {
    text-align: left; /* Left-align text */
    padding: 14px; /* Add padding */
}

#apparatusTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#apparatusTable tr.header, #apparatusTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.searchArea{
	max-height: auto;
    height: 100vh;
    overflow-y: auto; 
}

.searchInput{
  /*background-image: url('/css/searchicon.png');*/
  /*background-position: 10px 10px;*/
  /*background-repeat: no-repeat;*/
  width: 100%;
  /*font-size: 16px;*/
  padding: 12px 20px 12px 40px;
  /*border: 1px solid #ddd;*/
  margin-top: 14px;
}
.main{
  padding-top: 70px;
}
button, input{
  display: inline !important;
  width: auto !important;
  padding: 7px 11px !important;
  margin: 0px 5px;
}
.columns{
  flex: auto !important;
}