.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  /*background-color: white;*/
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; 
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 80%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 90%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout layout
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #222; }

html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  /*font-family: "Raleway", Helvetica, Arial, sans-serif;*/
  color: white; 
}

/*a {
  color: pink;
  text-decoration: none; }
a:hover {
  color: pink;
  text-decoration: none; }*/


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– *//*
.button,
button{
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #ff9dab;
    cursor: pointer;
    max-width: 180px;
    width: 100%;
    box-sizing: border-box; 
}

.button:hover,
button:hover,
.button:focus,
button:focus{
    color: #333;
    border-color: #ff6a80;
    outline: 0; 
}

.button.button-primary,
button.button-primary,
.button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; 
}

.button.button-primary:hover,
button.button-primary:hover,
.button-primary:hover,
.button-primary:hover,
.button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
.button-primary:focus,
.button-primary:focus,
.button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }
*/

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }*/

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*button,
.button {
  margin-bottom: 1rem; }
p,
ul,
ol
{
  margin-bottom: 2.5rem; }*/


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

.searchInput {
  /*background-image: url('/css/searchicon.png');*/
  /*background-position: 10px 10px;*/
  /*background-repeat: no-repeat;*/
  width: 100%;
  /*font-size: 16px;*/
  padding: 6px 10px 6px 10px;
  /*border: 1px solid #ddd;*/
  margin-top: 14px;
}
#gn-menu{
  z-index: 20;
}
#hehez{
  display: none;
}
.main{
  padding-top: 70px;
}