#borrowedAndReturnedDiv, #borrowedAndReturnedTab, #borrowedDiv, #returnedDiv{
  display: block;
}
#borrowedTab, #returnedTab{
  display: none;
}
@media (min-width: 672px) {
  .container {
    width: 80%;
    padding: 0; }
}

@media (min-width: 310px) and (max-width: 671px){
  #borrowedTab, #returnedTab{
    display: block;
  }
  #borrowedAndReturnedTab, #returnedDiv, #borrowedDiv{
    display: none;
  }
}

#gn-menu{
  z-index: 20;
}
#hehez{
  display: none;
}
.main{
  padding-top: 70px;
}