table.apparatusTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.apparatusTable td, table.apparatusTable tr th {
  border-width: 2px;
  border-color: #6caee0;
  border-style: solid;
  padding: 3px;
}

table.apparatusTable tr th {
  color: white;
  background-color: #34495e;
}

table.apparatusTable thead {
  background-color: #ffcc00;
}

